.dog-card {
    margin: 10px auto;
    width: 30vw;
    background: whitesmoke;
    padding: 10px;
}

img {
    max-width: 30vw;
}

button {
    background: black;
    padding: 10px;
    font-weight: bold;
    border-radius: 3px;
    color: whitesmoke;
}

button:active {
    transform: scale(.9);
    outline: none;
}

a {
    text-decoration: none;
}

@media (max-width: 500px) {
    .dog-card {
        width: 100vw;
    }
}